@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 150vh;
  background-image: linear-gradient(to bottom, #b069ea, #6863e4);
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 200px 0px;
}

@media (min-height: 750px) and (min-height: 438px) {
  body {
    min-height: 100vh;
  }
}

#PrincipalFigure {
  position: absolute;
  z-index: 1;
  width: 250px;
  left: 50%;
  top: -110px;
  transform: translate(-50%);
}

@media (min-width: 992px) and (min-height: 438px) {
  #PrincipalFigure {
    width: 400px;
    left: 0px;
    top: 130px;
    overflow: hidden;
    transform: none;
  }
}

@media (min-width: 992px) and (min-height: 438px) {
  #PrincipalFigure img {
    transform: translateX(-70px);
  }
}

#PrincipalFigureBottom {
  position: absolute;
  z-index: 0;
  width: 250px;
  left: 50%;
  top: 0px;
  transform: translate(-50%);
}

@media (min-width: 992px) and (min-height: 438px) {
  #PrincipalFigureBottom {
    width: 800px;
    height: 585px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    transform: none;
  }
}

@media (min-width: 992px) and (min-height: 438px) {
  #PrincipalFigureBottom img {
    transform: translate(-470px, -150px);
  }
}

#PrincipalFigureBox {
  display: none;
}

@media (min-width: 992px) and (min-height: 438px) {
  #PrincipalFigureBox {
    position: absolute;
    display: inline-block;
    z-index: 2;
    left: -78px;
    top: 240px;
    width: 160px;
  }
}

@media (min-width: 992px) and (min-height: 438px) {
  img {
    width: 100%;
  }
}

#FaqCard {
  text-align: center;
  position: sticky;
  min-height: 500px;
  height: 650px;
  max-height: 850px;
  width: 90%;
  padding: 130px 25px 10px 25px;
  border-radius: 20px;
  background-color: #ffffff;
}

@media (min-width: 350px) and (orientation: landscape) {
  #FaqCard {
    position: static;
    transform: translate(0%, 0%);
    min-width: 200px;
    width: 70%;
    max-width: 500px;
  }
}

@media (min-width: 576px) and (min-height: 438px) {
  #FaqCard {
    padding: 130px 50px 0px 50px;
    min-height: none;
    height: auto;
    max-height: none;
    min-width: none;
    width: 90%;
    max-width: none;
  }
}

@media (min-width: 768px) and (min-height: 438px) {
  #FaqCard {
    padding: 130px 80px 0px 80px;
  }
}

@media (min-width: 992px) and (min-height: 438px) {
  #FaqCard {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 60px 80px 20px 450px;
    width: 900px;
  }
}

#FaqCard h1 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 700;
}

#AccordionSection {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  height: 380px;
}

#AccordionSection #accordionFlush .accordion-item:last-child {
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.accordion-button {
  padding: 15px 0px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #4a4b5e;
}

@media (min-width: 576px) and (min-height: 438px) {
  .accordion-button:hover {
    color: #f47c57;
  }
}

.accordion-button:not(.collapsed) {
  color: #1d1e35;
  font-weight: 700;
  background-color: #ffffff;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(244, 124, 87)'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' stroke='rgb(244, 124, 87)' stroke-width='2' /%3e%3c/svg%3e");
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(244, 124, 87)'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' stroke='rgb(244, 124, 87)' stroke-width='2' /%3e%3c/svg%3e");
  background-size: 0.7rem;
  width: 0.7rem;
  height: 0.7rem;
}

.accordion-button:focus {
  border-color: #ffffff;
  box-shadow: none;
}

.accordion-body {
  padding: 0px 0px 20px 0px;
  text-align: left;
  font-size: 0.8rem;
  color: #787887;
}

.accordion-item {
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}
